AWSTemplateFormatVersion: 2010-09-09
Description: "Setup transit gateway route associations"
Parameters:
  TgwRouteTableName:
    Description: 'The transit gateway route table name'
    Type: String
Resources:
{% for tgw_attachment_id in sceptre_user_data.tgw_attachment_ids %}
  {{ sceptre_user_data.stackname }}{{ loop.index }}:
      Type: AWS::EC2::TransitGatewayRouteTableAssociation
      Properties:
        TransitGatewayRouteTableId: !ImportValue
          'Fn::Sub': '${AWS::Region}-${TgwRouteTableName}-TransitGatewayRouteTable'
        TransitGatewayAttachmentId: {{ tgw_attachment_id }}
{% endfor %}

Outputs:
{% for tgw_attachment_id in sceptre_user_data.tgw_attachment_ids %}
  {{ sceptre_user_data.stackname }}{{ loop.index  }}:
    Description: This Is the transit gateway association
    Value: !Ref {{ sceptre_user_data.stackname }}{{ loop.index  }}
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-{{ loop.index  }}'
{% endfor %}
